div#calculator {
  div#inputs p {
    text-align: center;
  }

  div#numbers-pad {
    align-content: center;
    margin: 20px auto;
    width: 328px;
    height: auto;
    border: 2px solid grey;
    box-sizing: border-box;
  }

  div.numbers {
    width: 100px;
    height: 100px;
    min-width: 40px;
    margin: 4px;
    padding: 2px;
    background-color: rgb(189, 190, 178);
    text-align: center;
    position: relative;
    float: left;
  }
  div.numbers-child {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma,  sans-serif;
    color: rgb(0, 25, 94);
    font-size: 2.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
  }

  div.signs {
    width: 100px;
    height: 100px;
    margin: 4px;
    padding: 2px;
    background-color: rgb(120, 190, 178);
    color: rgb(0, 25, 94);
    text-align: center;
    position: relative;
    float: left;

    div {
      font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma,  sans-serif;
      color: rgb(0, 25, 94);
      font-size: 2.3em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 50%;
      margin: auto;
    }
  }

  div#result-outer {
    align-content: center;
    margin: 10px auto;
    width: 328px;
    height: 80px;
    border: 2px solid grey;
    box-sizing: border-box;
    position: relative;

    div.result-inner {
      font-size: 2em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 50%;
      margin: auto;
    }

  }
}
