<h1>Day Scores</h1>

<div id="day-scores">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Tension</th>
        <th>Sleep</th>
      </tr>
    </thead>
    <tbody>
      <tr is="day-score-row" v-for="score in day_scores" :score="score">
    </tr>
  </tbody>
</table>

</div>

