<h1>Day Scores</h1>

<div id="day-scores">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Tension</th>
        <th>Sleep</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
      <tr is="day-score-row" v-for="score in day_scores" :score="score">
      </tr>
      <tr>
        <td>
          <input type="date" v-model="score.day"><br>
          <span style="color:red">{{ errors.day }}</span>
        </td>
        <td>
          <input type="number" v-model="score.tension"><br>
          <span style="color:red">{{ errors.tension }}</span>
        </td>
        <td>
          <input type="number" v-model="score.sleep"><br>
          <span style="color:red">{{ errors.sleep }}</span>
        </td>
        <td><button v-on:click.prevent="addScore()">Add Score</button></td>
      </tr>
    </tbody>
  </table>

</div>

